@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.flex__container {
    display: flex;
    flex-flow: row wrap;
    margin-left: 27vw;
}

.flex__image {
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
    width: 16rem;
    height: 21rem;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.flex__items__container {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    width: 16rem;
    height: 21rem;
    padding: 2rem;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.items__header {
    color: hsl(212, 21%, 14%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    padding-top: 1em;
    letter-spacing: 0.5em;
}

.items__heading {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1em;
    padding-top: 0.6em;
}

.items__heading2 {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 0.6em;
}

.items__description {
    color: hsl(212, 21%, 14%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    padding-top: 1em;
    line-height: 1.6em;
}

.items__markdown {
    color: hsl(212, 21%, 14%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    text-decoration: line-through;
    position: absolute;
    bottom: 5.5rem;
    right: 5rem;
}

.SVG__cart {
    position: absolute;
    bottom: 2.8rem;
    left: 3.9rem;
    height: 9px;
    width: 8px;
}

.items__button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    margin-top: 1rem;
    border: 0;
    padding: 0.5rem 3rem;
    border-radius: 6%;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
}

.items__button:hover,
.items__button:focus {
    background-color: hsl(228, 45%, 44%);
    color: hsl(30, 38%, 92%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width:400px) {
    .flex__container {
        margin: 1rem 2rem;
    }

    .flex__image {
        border-top-right-radius: 5%;
        border-bottom-left-radius: 0%;
        height: 10rem;
        width: 16rem;
        background-size: cover;
        background-position: center;
    }

    .flex__items__container {
        display: flex;
        flex-flow: column;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
    }

    .items__markdown {
        color: hsl(212, 21%, 14%);
        font-family: 'Montserrat', sans-serif;
        font-size: 0.6rem;
        text-decoration: line-through;
        position: absolute;
        bottom: 5.5rem;
        right: 4.6rem;
    }

    .SVG__cart {
        bottom: 2.8rem;
        left: 5.2rem;
    }

}